@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

* {
  font-family: "Google Sans";
}

img {
  border: 5px dotted red;
  width: 500px;
  height: 500px;
  border-radius: 100%;
}

form {
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

h1 {
  font-size: 100px;
  font-family: Verdana;
  text-align: center;
}

form input,
textarea {
  width: 100%;
}

form button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
}

#image1 {
  width: 1000px !important;
}
